<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <%= image_tag("event-management.jpg", class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">About EduEvents</h1>
            <p>At EduEvents, we are redefining the standard for modern Smart Educational Event Systems (SEES). Our goal is to develop a cutting-edge platform that transforms how educational events are organized and experienced.</p>
            <p>Our web application streamlines event management through automation and real-time data, enabling organizers to efficiently oversee their events. With features like centralized resource uploads (e.g., maps and directions), interactive Q&A sections, and seamless networking between organizers, stakeholders, attendees, and speakers, we ensure an effortless and engaging event experience.</p>
            <p>Existing SEES platforms often fall short when it comes to real-time scheduling, networking tools, event promotion, and comprehensive analytics. These gaps can lead to challenges in planning, fragmented user experiences, and limited event visibility. EduEvents addresses these issues by delivering a powerful, dynamic platform that empowers organizers to plan with ease, foster meaningful interactions, and maximize event exposure.</p>
        </div>
    </div>
</div>