body {
    font-family: "Montserrat", sans-serif;
}

.bg-body-tertiary {
    background-color: white !important;
}

.bg-orange {
    background-color: #E8923C;
}

.btn-primary {
    background-color: #E8923C;
    color: #fff;
    border-color: #E8923C;
}

.btn-primary:hover {
    background-color: #ab6b2c;
    border-color: #ab6b2c;
}

.btn-primary:active:focus {
    background-color: #cc7000;
    border-color: #cc7000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.btn-secondary {
    background-color: transparent;
    color: black;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border-color: #6c757d;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background-color: white;
    color: #E8923C;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card i {
    color: #E8923C;
    margin-bottom: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card p {
    font-size: 1.15em;
    opacity: 0.8;
}

.default-padding {
    margin: 32px;
}

.sc.weekly-hourly {
    width: 100%;
    border: 1px solid #ddd;

    .sc-row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #eee;
    }

    .sc-col {
        flex: 1;
        border-right: 1px solid #eee;
        position: relative;
    }

    .sc-hour-label {
        width: 50px;
        text-align: center;
        background: #f8f8f8;
        border-right: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sc-day-header {
        text-align: center;
        background: #fafafa;
        font-weight: bold;
        padding: 8px;
    }

    .sc-day-hour {
        height: 32px;
    }

    .sc-event-block {
        background-color: #E8923C;
        color: #fff;
        border-radius: 4px;
        padding: 2px 4px;
        overflow: hidden;
        font-size: 0.8rem;
    }
}